<h1>Write Post</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'dashboard' %}" method='POST'>

    <input type="text" id="fname" name="text"><br><br>
    <a><button>post</button></a>
    <br>
<br>

{% if user.is_authenticated %}
<a href="{% url 'logout_page' %}">logout</a>
{% else %}
<a href="{% url 'loginpage' %}">login</a>
<br>
{% endif %}
</form>
